.main{
    background-color: white;
}
.main1,.sub,.sub1,.sub2{
    background-color: wheat;
    width: 150px;
    height: 450px;
}
.sub{
    margin-top: -450px;
    margin-left: 160px;
}
.sub1{
    margin-top: -450px;
    margin-left: 320px;
}
.sub2{
    margin-top: -450px;
    margin-left: 490px;
}